name: Build application

on: [push, pull_request]

jobs:
  ubuntu-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Setup environment
      run: |
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test
        sudo apt-get update
        sudo apt-get install ninja-build
        sudo apt-get install texlive*
    - name: Build
      run: |
        mkdir build
        cmake -G Ninja -S . -B build -D USE_LATEX=ON
        cmake --build build
      shell: bash
    - uses: actions/upload-artifact@v4
      with:
        name: ubuntu-artifacts
        path: build/bin/
  windows-build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Setup environment
      run: |
        choco install miktex.install
      shell: pwsh
    - name: Build
      run: |
        Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
        refreshenv
        mkdir build
        cmake -S . -B build -D USE_LATEX=ON
        cmake --build build
      shell: pwsh
    - uses: actions/upload-artifact@v4
      with:
        name: windows-artifacts
        path: build/bin/
  macos-build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Setup environment
      run: |
        brew install --cask mactex
        brew install ninja
    - name: Build
      run: |
        eval "$(/usr/libexec/path_helper)"
        mkdir build
        cmake -G Ninja -S . -B build -D USE_LATEX=ON
        cmake --build build
    - uses: actions/upload-artifact@v4
      with:
        name: macos-artifacts
        path: build/bin/
